<section class="section-products" >
    <div class="container">
            <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h3>Featured Product</h3>
                                    <h2>Popular Products</h2>
                            </div>
                    </div>
            </div>
            
                <div class="row">
                        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let product of products">
                                <div class="card">
                                        <div class="d-flex justify-content-between p-3">
                                <div id="product-2" class="single-product">
                                        <div class="part-1" >
                                                <div *ngIf="product.stock>0">
                                                        <img src="{{product.image}}">
                                                        <span class="discount" *ngIf="product.discount>0">{{product.discount}}%</span>
                                                </div>
                                                <div class="outOfStockImg" *ngIf="product.stock == 0">
                                                        <img src="{{product.image}}">
                                                        <span class="discount" *ngIf="product.discount>0">{{product.discount}}%</span>
                                                </div>
                                                <ul>
                                                        <li *ngIf="currentUser.username != 'admin'"><a (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i></a></li>
                                                        <li *ngIf="currentUser.username != 'admin'"><a (click)="addToFavourites(product)"><i class="fa fa-heart"></i></a></li>
                                                        <li ><a routerLink="/products/{{product.id}}" routerLinkActive="active"><i class="fa fa-expand"></i></a></li>
                                                        <li *ngIf="currentUser.username == 'admin'"><a routerLink="/products/edit/{{product.id}}" routerLinkActive="active"><i class="fa fa-pencil-square-o"></i></a></li> 
                                                        <li *ngIf="currentUser.username == 'admin'"><a (click)="deleteProduct(product.id)"><i class="fa fa-trash"></i></a></li> 
                                                </ul>
                                        </div>
                                        <div class="part-2">
                                                <h3 class="product-title"style="text-transform: capitalize">{{product.name}}</h3>
                                                <div *ngIf="product.stock>0" ><h6 style="color: green;font-size: small;font-weight: bolder;">In stock</h6></div>
                                                <div *ngIf="product.stock==0" ><h6 style="color: red;font-size: small;font-weight: bolder;">Out of stock</h6></div>
                                                <ng-template [ngIf]="product.oldPrice!=product.price" [ngIfElse]="loading" >
                                                        <h4 class="product-old-price" >{{product.oldPrice}} Lei</h4>
                                                </ng-template>
                                                <ng-template #loading>
                                                        <h4 class="product-old-price" style="visibility: hidden;">{{product.oldPrice}} Lei</h4>
                                                </ng-template>
                                                <h4 class="product-old-price" style="visibility: hidden;"></h4>
                                                <h4 class="product-price" style="color: red;font-size: large;" *ngIf="product.discount > 0">{{product.price}} Lei</h4>
                                                <h4 class="product-price" style="font-size: large;margin-left: -75px;" *ngIf="product.discount == 0">{{product.price}} Lei</h4>
                                        </div>
                                        </div>
                                </div>
                                </div>
                
                        </div>
                </div>
      
    </div>
</section>