@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.example-selected-value {
    margin: 15px 0;
  }
  
.detailsCard{
  border: 55px !important;
}
.nav-item{
  border-style: groove;
  padding: 5%;
  margin: -1%;
  width: -webkit-fill-available;
}
.mat-button-toggle :hover{
  color: rgb(173, 168, 168);
}

.nav-item :hover{
  background-color: white;
}

.editBtn{
  color: black;
}

.editBtn :hover{
  color: rgb(173, 168, 168);
}