<div class="container">
    <div class="row">
    <div class="col-md-2">
        <ul style="padding: 2%;">
            <ol class="nav-item">
                <button class="btn btn-dark btn-lg me-2"><a class="nav-link " routerLink="/stock" routerLinkActive="active">Adauga produse</a></button>
            </ol><br>
              <ol class="nav-item" >
                <button class="btn btn-dark btn-lg me-2"><a class="nav-link " routerLink="/deliveryChange" routerLinkActive="active">Modifica livrarea</a></button>
              </ol><br>
              <ol class="nav-item">
                <button class="btn btn-dark btn-lg me-2"><a class="nav-link " routerLink="/voucherCreate" routerLinkActive="active">Genereaza voucher</a></button>
              </ol><br>
              <ol class="nav-item">
                <button class="btn btn-dark btn-lg me-2"><a class="nav-link " routerLink="/generateCategory" routerLinkActive="active">Genereaza categorii</a></button>
              </ol>
        </ul>
    </div>
</div>
</div>
