<form #deliveryInfoForm="ngForm" autocomplete="off" aria-required="true" *ngIf="info" (ngSubmit)="setDeliveryInfo()">
    <!-- 2 column grid layout with text inputs for the first and last names -->
<div class="container">
    <div class="row mb-4">
      <div class="col-md-6">
        <div class="form-outline">
          <input matInput matNativeControl type="text"
          class="form-control"
          name="firstname"
          [(ngModel)]="info.firstname"
          placeholder="Nume">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-outline">
          <input matInput matNativeControl type="text"
          class="form-control"
          name="lastname"
          [(ngModel)]="info.lastname"
          placeholder="Prenume">
        </div>
      </div>
    </div>
  
    <div class="row ">
    <div class="col-md-6">
    <!-- Text input -->
    <div class="form-outline mb-4">
      <input matInput matNativeControl type="text"
      class="form-control"
      name="telephone"
      [(ngModel)]="info.telephone"
      placeholder="Numar de telefon">
    </div>
    
</div>
    <div class="col-md-6">
          <!-- Email input -->
    <div class="form-outline mb-4">
      <input matInput matNativeControl type="text"
      class="form-control"
      name="email"
      [(ngModel)]="info.email"
      placeholder="Email">
    </div>     
  
  </div>
</div>
<div class="row mb-4">
        <app-adress (adressOutput)="adress"></app-adress>

      </div>
  
    <!-- Message input -->
    <div class="form-outline mb-4">
      <textarea type="text"
      class="form-control"
      name="AdditionalInfo"
      [(ngModel)]="info.additonalInfo" rows="4"
      placeholder="Informatii aditionale"></textarea>
    </div>

  </div>
  </form>