<form #stockForm="ngForm" (ngSubmit)="addProduct()" autocomplete="off">
    <h2 class="text-center text-primary">Add products</h2>
    <hr>
    <br>
    <div class="mb-3">
        <input type="text"
                class="form-control"
                name="name"
                [(ngModel)]="model.name"
                placeholder="Name"autocomplete="off">
    </div>

    <div class="mb-3">
        <input type="text"
        class="form-control"
        name="description"
        [(ngModel)]="model.description"
        placeholder="Description"autocomplete="off">
    </div>
    <div class="mb-3">
        <input type="number"
        class="form-control"
        name="stock"
        [(ngModel)]="model.stock"
        placeholder="Stock"autocomplete="off">
    </div>
    <div class="mb-3">
            <mat-form-field class="selectField">
                <mat-select #select  [(ngModel)]="selectedCategory"
                (ngModelChange)="change(selectedCategory)" name="selectedCategories" 
                 placeholder="Categories"  >
                <mat-option  *ngFor="let categ of categoriesDB" [value]="categ">{{categ.name}}</mat-option>
                </mat-select>

            </mat-form-field>
            <mat-form-field class="selectField">
                <mat-select   [(ngModel)]="selectedSubcategory" 
                (ngModelChange)="selectedSubcategory" name="selectedSubcategory" 
                 placeholder="Subcategories"  >
                <mat-option  *ngFor="let subcateg of subcategoriesDB" [value]="subcateg">{{subcateg.name}}</mat-option>
                </mat-select>
                
            </mat-form-field >
            <mat-form-field class="selectField">
                <mat-select   [(ngModel)]="selectedCategoryGender" 
                (ngModelChange)="selectedCategoryGender" name="selectedCategoryGender" 
                 placeholder="Category gender"  >
                <mat-option  *ngFor="let categG of categoryGendersDB" [value]="categG">{{categG.name}}</mat-option>
                </mat-select>
                
            </mat-form-field>
    </div>
    <div class="mb-3">
        <input type="number"
        class="form-control"
        name="rating"
        [(ngModel)]="model.rating"
        placeholder="Rating"autocomplete="off">
    </div>
    
    <div class="mb-3">
        <input type="number"
        class="form-control"
        name="oldPrince"
        [(ngModel)]="model.oldPrice"
        placeholder="OldPrince"autocomplete="off">
    </div>
    <div class="mb-3">
        <input type="text"
        class="form-control"
        name="image"
        [(ngModel)]="model.image"
        placeholder="Main Image URL" autocomplete="off">
    </div>
   
    <div class="mb-3">
        <input type="number"
        class="form-control"
        name="discount"
        [(ngModel)]="model.discount"
        placeholder="Discount"autocomplete="off">
    </div>
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Add to stock</button>
        <button class="btn cancelButton" type="button" (click)="cancel()">Cancel</button>
       
        
    </div>
    <!-- <mat-form-field>
        <mat-select placeholder="Categories" [(ngModel)]="selectedCategories" multiple>
          <mat-option *ngFor="let topping of categoriesDB" [value]="topping.name">{{topping.name}}</mat-option>
        </mat-select>
      </mat-form-field>
</form> -->