<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="container">
     
    <div class="mb-3">
        <input type="text"
                class="form-control"
                name="username"
                [(ngModel)]="model.userName"
                placeholder="Email">
    </div>
    <div class="row">
    <div class="col-md-6">
    <div class="mb-3">
        <input type="text"
                class="form-control"
                name="firstname"
                [(ngModel)]="model.firstName"
                placeholder="Nume">
    </div>
</div>
<div class="col-md-6">
    <div class="mb-3">
        <input type="text"
                class="form-control"
                name="lastname"
                [(ngModel)]="model.lastName"
                placeholder="Prenume">
    </div>
    </div>
    </div>
    <div class="mb-4">
        <app-adress (model)="adress"></app-adress>
    </div>

    <div class="mb-3">
        <input type="password"
        class="form-control"
        name="password"
        [(ngModel)]="model.password"
        placeholder="Password">
    </div>
    
    <div class="mb-3">
        <input type="password"
        class="form-control"
        name="Confirm password"
        [(ngModel)]="confirm"
        placeholder="Confirm">
    </div>

    <div class="mb-3">
        <input type="date" matInput
        class="form-control"
        name="dateOfBirth"
        [(ngModel)]="model.dateOfBirth"
        placeholder="DateOfBirth" min="1950-01-01" max="2005-12-31">
    </div>

    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>

    </div>
       
</div>
</form>