<section class="section-products" >
    <div class="container">
            <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h2>Favourites products</h2>
                            </div>
                    </div>
            </div>
            <button class="btn backButton" (click)="back()"><i class="fa fa-arrow-left"> Back </i></button>
            <table>
                <tr *ngFor="let item of favourites.products">
                        <td><a a routerLink="/products/{{item.id}}" routerLinkActive="active"><img src="{{item.image}}"></a>
                                <span class="discount" *ngIf="item.discount>0">{{item.discount}}%</span></td>
                        <td class="nameTd" style="text-transform: capitalize;">{{item.name}} <p *ngIf="item.stock>0" style="color: green;"> In stock</p>
                                <p *ngIf="item.stock==0" style="color: red;"> Out of stock</p></td>
                               <td> <ng-template [ngIf]="item.oldPrice!=item.price" [ngIfElse]="loading" >
                                        <h4 class="product-old-price" >{{item.oldPrice}} Lei</h4>
                                </ng-template>
                                <ng-template #loading>
                                        <h4 class="product-old-price" style="visibility: hidden;">{{item.oldPrice}} Lei</h4>
                                </ng-template>
                                <!-- <h4 class="product-old-price" style="visibility: hidden;"></h4> -->
                               <h4  class="product-price" style="color: red;" *ngIf="item.discount > 0">{{item.price}} Lei</h4>
                               <h4 class="product-price" *ngIf="item.discount == 0">{{item.price}} Lei</h4></td>
                        <!-- <td style="font-size: x-large;">{{item.price}} Lei</td> -->
                        <td style="border-top: 0;border-right: 0;border-bottom: 0;">
                                <div *ngIf="item.stock == 0">
                                        <button class="btn addButton" style="background-color: lightgrey;"><i class="fa fa-shopping-cart" aria-hidden="true" ></i> Add to cart</button><br><br>
                                    </div>
                                <div *ngIf="item.stock>0">
                                        <button class="btn addProdButton" (click)="addToShoppingCart(item)">Add to cart</button><br><br>
                                </div>
                                <a (click)="deleteProduct(item.id)"><i class="fa fa-trash">  Sterge  </i></a></td>
                      </tr> 
            </table>
          
    </div>
</section>