
<div class="mat-input-container mat-form-field" *ngIf="summary.total > 200 " >
  <h5 style="color: green;">Pentru ca valoarea cosului tau de cumparaturi este mai mare decat suma de 200 lei ai transport gratuit ! </h5>
    <mat-radio-group>
      <table>
        <mat-radio-button value="{{opt.id}}" (change)="radioButtonChange($event)" *ngFor="let opt of deliveryOptions">
        <tr>
          <td><img src="{{opt.companyUrl}}"> </td>
          <td> {{opt.description}} </td>
          <td>{{opt.duration}}</td>
          <td><h6 style="color: green;">LIVRARE GRATUITA</h6></td>
        </tr>
      </mat-radio-button>
      </table>
    </mat-radio-group>
    
</div>
<div class="mat-input-container mat-form-field" *ngIf="summary.total < 200" >
<mat-radio-group>
  <table  *ngFor="let opt of deliveryOptions">
    <mat-radio-button value="{{opt.id}}" (change)="radioButtonChange($event)">
    <tr>
      <td><img src="{{opt.companyUrl}}"> </td>
      <td class="description"> {{opt.description}} </td>
      <td><h6>{{opt.duration}}</h6></td>
      <td><h6 style="font-weight: bolder;">{{opt.cost}} Lei</h6></td>
    </tr>
  </mat-radio-button>
  </table>
</mat-radio-group>
</div>