<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid" >
      <a class="navbar-brand" href="#">
        <img src="https://webstockreview.net/images/koala-clipart-icon-australian-9.png"  alt="..." height="36">
      </a>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active" style="font-family: papyrus;">Koala Kids</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav me-auto mb-2 mb-md-0" > 
          <!-- <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/members" routerLinkActive="active">Matches</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/products" routerLinkActive="active">Products</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/promotions" routerLinkActive="active">Promotions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link " routerLink="/errors" routerLinkActive="active">Errors</a>
          </li> -->
          <li class="nav-item" *ngIf="model.username == 'admin'">
            <a class="nav-link " routerLink="/stock" routerLinkActive="active">Add products</a>
          </li>
          <!-- <li class="nav-item" *ngIf="model.username == 'admin'">
            <a class="nav-link " routerLink="/edit" routerLinkActive="active">Edit products</a>
          </li> -->
        </ul>
       
        <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off" >
          <i class="fa fa-user" aria-hidden="true" style="color: white; margin-right: 1%; padding-top: 2%;"></i><input 
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2" 
            type="text" 
            placeholder="Username" >
          <input name="password"
          [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password">
          <button class="btn btn-success" type="submit">Login</button>
        </form>
        <!-- <div *ngIf="!(accountService.currentUser$ | async)">
          <button class="btn btn-dark " routerLink="/login" routerLinkActive="active"><a class="text-light text-decoration-none"  style="font-size: large; "><i class="fa fa-user"> Authenticate</i></a></button>
        </div>
       -->
        <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
          <button class="btn btn-dark " *ngIf="model.username == 'admin'" ><a class="text-light text-decoration-none" dropdownToggle style="font-size: large; text-transform: capitalize;"><i class="fa fa-user"> Welcome {{model.username| titlecase}} </i></a>
            <div class="dropdown-menu" *dropdownMenu>
              <!-- <a class="dropdown-item" routerLink="/users/{{model.username}}" routerLinkActive="active">Details profile</a> -->
              <a class="dropdown-item" routerLink="/users/edit/{{model}}" routerLinkActive="active">Edit profile</a>
              <a class="dropdown-item" routerLink="/orders" routerLinkActive="active">My orders</a>
              <a class="dropdown-item"(click)="logout()">Logout</a>
            </div></button>
            
          <button class="btn btn-dark " *ngIf="model.username != 'admin'"><a class="text-light text-decoration-none" dropdownToggle style="font-size: large; "><i class="fa fa-user"> Contul meu {{model.username |titlecase}}</i></a>
              <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" routerLink="/users/{{model.username}}" routerLinkActive="active">Details profile</a>
                <a class="dropdown-item" routerLink="/users/edit/{{model}}" routerLinkActive="active">Edit profile</a>
                <a class="dropdown-item" routerLink="/orders" routerLinkActive="active">My orders</a>
                <a class="dropdown-item"(click)="logout()">Logout</a>
              </div>
            </button>
        
        </div>
        <h5 style="color: white;">|</h5>
        <div>
          <button type="button" class="btn btn-dark" routerLink="/favourites" routerLinkActive="active" style="font-size: large;"><i class="fa fa-heart"></i></button>
        </div>
        <div  class="fav-value" *ngIf="favItemCount() > 0">{{favItemCount()}}</div>
        <h5 style="color: white;">|</h5>
        <div class="cart-icon">
          <button type="button" class="btn btn-dark" routerLink="/shoppingCart" routerLinkActive="active" style="font-size: large;"><i class="fa fa-shopping-cart"></i></button>
          
        </div>
        <div  class="cart-value" *ngIf="cartItemCount() > 0">{{cartItemCount()}}</div>
      </div>
      
    </div>
  </nav>


  