
<!-- <div *ngIf="shoppingCart">
    <div *ngIf="shoppingCart.products.length == 0">
        <p>Hello {{user.username}} !</p>
        <p>You have no products added to the card!</p>
    </div>
</div> -->

<div *ngIf="items.length == 0 && !this.currentUser">
    
    <div class="container">
        <div class="row" style="text-align: center;margin-top: 30%;">
            <h3>Coșul de cumpărături este gol !</h3>
            <h5>Dacă ai adăugat produse în coș la vizita trecută pe site, te rugăm să te loghezi.</h5>
            <button (click)="login()" class="btn btn-success btn-lg me-2" style="width: 30%;margin-left: 35%;">Login</button>
            <div ><a routerLink="/products" routerLinkActive="active" style="color:grey">SAU CONTINUĂ CUMPĂRĂTURILE</a></div>
        </div>
    </div>
</div>
<div *ngIf="items.length == 0">
    <div class="container">
        <div class="row" style="text-align: center;margin-top: 20%;">
            <h3>Coșul de cumpărături este gol !</h3>
            <div >Te invitam sa <a routerLink="/products" routerLinkActive="active" style="color:grey"> CONTINUI CUMPĂRĂTURILE</a> pentru a-ti alege produsele dupa placul tau !</div>
        </div>
    </div>
</div>

<div *ngIf="items.length > 0">

    <div class="container" >
        <div class="row"style="text-align: center;"><h3>Cos de cumparaturi</h3></div>
        <div class="row"style="text-align: center;"><h6>Livrare gratuita la achizitia de articole de peste 200 Lei si plata in avans.</h6></div> <!-- need to check that -->
        
        <div class="row" style="text-align: center;margin-top: 5%;" >
            
            
          <div class="col-md-8">
            <button class="btn backButton" (click)="back()"><i class="fa fa-arrow-left"> Back </i></button>
            <table>
                <tr *ngFor="let item of cart">
                      
                  <td><a a routerLink="/products/{{item.product.id}}" routerLinkActive="active"><img src="{{item.product.image}}"></a></td>
                  <td style="text-transform: capitalize;">{{item.product.name}} <p style="color: green;font-weight: bolder;">In stock</p></td>
                 
                  <td style="text-align: end;" ><h4 >{{item.subtotal}} Lei </h4><input type="number" min="1" max="{{item.product.stock}}"[(ngModel)]="item.quantity" name="quantity" (click)="increaseQuantity(item,item.product)"><br>
                    <button class="btn moveButton" (click)="moveToFavourites(item.product)"><i class="fa fa-heart"> Muta in favorite</i></button><br>
                    <button class="btn deleteButton"(click)="deleteProduct(item.product)"><i class="fa fa-trash"> Sterge</i></button>
                    <!-- <button class="btn deleteButton"(click)="updateQuantity(item)"><i class="fa fa-undo"> Actualizeaza</i></button></td> -->
                
                </tr> 
              </table>
            </div>
              <div class="col-md-4 sumarInfo" style="text-align: justify;">
                <p>Voucher: <input type="text" [(ngModel)]="voucher.code"><button class="btn btn-info btnVoucher" (click)="applyVoucher(voucher.code)">Aplica</button></p>
                <h5 style="font-weight: bolder;">Sumar comanda :</h5>
                <h6>Cost produse: {{summary.productCost}} Lei <h6 style="color: red;" *ngIf="voucher.code">-{{voucher.discount}}%</h6></h6>
                <div *ngIf="summary.productCost > 200"><h6 style="color: green;">Livrare: GRATUITA </h6>
                  <h4>TOTAL: {{summary.total}} Lei</h4></div>
                  <div *ngIf="summary.productCost < 200" ><h6 style="color: red;">Costul livrarii va fi adaugat dupa alegerea metodei de livrare </h6>
                    <h4>TOTAL: {{summary.total}} Lei</h4> </div>
                  
                <button type="button" class="btn orderButton" routerLink="/checkout" routerLinkActive="active">Finalizeaza comanda</button>
                
                <h6><i class="fa fa-undo" style="color: black;margin-top: 3%;">  Retur gratuit in termen de 30 zile.</i></h6>
                    <h6><i class="fa fa-truck">  Livrare gratuita la achizitia de articole de peste 200 Lei si plata in avans.</i></h6><br>
                     
                    <mat-accordion>
                      <mat-expansion-panel (opened)="panelOpenState = true"
                                           (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Costuri de livrare
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <br>
                        <div *ngFor="let opt of delOptions">
                          <p>{{opt.description}}  costa {{opt.cost}} Lei</p>
                        </div>
                        
                      </mat-expansion-panel>
                    </mat-accordion>
              
                </div>
              <div class="row" >
                <div class="col-md-8 " style="text-align: start;">
                    <div class="alert alert-info">
                    <p style="color: rgb(76, 76, 255);font-family: Arial, Helvetica, sans-serif"><i class="fa fa-info-circle" aria-hidden="true"> Nu uitati sa finalizati comanda. Adaugarea articolelor in cos nu inseamna rezervarea lor.</i></p>
                    
                </div>

                    <h6>Acceptam :</h6>
                    
                    <img class="card-img-top" src="../../assets/cash.jpeg" style="width: 5%;height: 15%">
                    <img class="card-img-top" src="../../assets/mastercard.png"style="width: 10%;height: 17%">
                    <img class="card-img-top" src="../../assets/visa.jpeg" style="width: 6%;height: 7%">
                
                </div>

              </div>

        </div>
</div>
</div>
